<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" src="../js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.8.16.custom.min.js"></script>
<link href="../css/patientMenuStyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
			$(function(){

				// Accordion
				$("#accordion").accordion({ 
				header: "h3",
				autoHeight: false,
				navigation: true,
				});
	
			});
		</script>
</head>

<body>


<div class="accordionBar">
  <!-- Accordion -->
		<div id="accordion">
			<div>
				<div class="menuBarItem"><a href="panel.php" style="text-decoration: none;">Home</a></div>
				
			</div>
            
            <div>
				<div class="menuBarItem"><a href="myPath.php?id=<?php echo $user->id; ?>" style="text-decoration: none;">My Path</a></div>
				
			</div>
            
			<div>
				<div class="menuBarItem"><a href="modifyAccount.php?id=<?php echo $user->id; ?>" style="text-decoration: none;">Modify Account</a></div>
				
			</div>
			
            
            <div>
				<div class="menuBarItem"><a href="listGoals.php" style="text-decoration: none;">Bank of Ideas</a></div>
				
			</div>
            
            
            
            <div>
				<div class="menuBarItem"><a href="logout.php" style="text-decoration: none;">Logout</a></div>
				
			</div>
            
		</div>
  </div>


</body>
</html>
