<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home Page</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="container">

	<div class="header">
		<img src="images/header.gif" width="1000" height="420" alt="header" />
        
	</div><!-- header -->
    
  
    
<div class="content">
		
    <div class="heading">Restricted Access!</div>
    <!-- .content #heading -->
        
      <div class="body">
      	You are not allowed to access the requested page!</div>
      <!-- .content #body -->

  </div><!-- content -->

	<div class="footer">
    	<img src="images/footer.gif" width="1000" height="100" alt="footer" /></div>
  <!-- footer -->

</div><!-- container -->

</body>
</html>
